* {
    background-color: #1f2937;
    /* temp white text color and border lines for visibility */
    color: white;
    border: 2px solid red;
}

.header {
    display: flex;
}

.headerlogo {
    color: #f9faf8;
    font-size: 24px;
    flex: 2;
}

.headerlinks {
    display: flex;
    flex: 1;
    text-align: center;
}

.main {
    display: flex;
    flex:1;
}

.heromaintext {
    font-size: 48px;
    color: #f9faf8;
    flex: 2;
}